body {
  background-color: #f6e5e5;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #774181;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #774181;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(53, 41, 97, 0.2);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 18px;
  background-color: #352961;
  color: white;
  border-radius: 50px;
  width: 150px;
  border: none;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #272044;
  border-radius: 5px;
  box-shadow: 7px 8px 20px rgba(53, 41, 97, 0.1);
}

footer {
  text-align: center;
  font-size: 14;
  margin-top: 30px;
}
